<h1>What's your awesome skill?</h1>
<h2 id="skill_holder"></h2>

<button class="skill_teller">Tell the skills!</button>

<script>
  var skill = location.pathname.match(/\/skills\/(.*)/)[1]
  $('h1').text(skill);
</script>
